{% extends "_layout" %}
{% set seo = craft.seo.custom(entry.title, 'FanDuel Stats', true) %}
{% requireLogin %}

{% block content %}
<div id="container" class="stats">
	<article>
		<div class="content-main">
			<main id="content" role="main">
				{% set image = entry.articleimagelarge.last() %}
				{% if image %}
				<div class="img-hack">
					<a href="http://tinyurl.com/statchat" target="_blank">
						<img class="article-head" src="{{ image.url }}" />
					</a>
				</div>
				{% endif %}
				<a class="twitter-share-button"
					  href="https://twitter.com/intent/tweet?hashtags=StatChat,FPL,FanDuel&text={{entry.articleSubhead}}"
					  data-size="large">
						Tweet</a>
				{% include 'statmenu.html' %}
				<div class="article-body">
					<h1 class="article-title">{{ entry.title }}</h1>
					<div class="article-content">
						<div class="gw-stats" data-gameweek="{{ entry.gameweek }}">
							<table class="stats-table">
								<tbody class="stat-body">
									<tr class="no-sort">
										<td>Total</td>
										<td>Name</td>
										<td>Team</td>
										<td>Passes</td>
										<td>Fouls Won</td>
										<td>Clearances</td>
										<td>Interceptions</td>
										<td>Shots Blocked</td>
										<td>Tackles Won</td>
										<td>Chances Created</td>
										<td>Shots On Target</td>
										<td>Assists</td>
										<td>Goals</td>
										<td>Own Goals</td>
										<td>Missed Pen</td>
										<td>Red Card</td>
										<td>Yellow Card</td>
									</tr>
									<tr class="row-data">
										<td class="Total"></td>
										<td class="Name"></td>
										<td class="Team"></td>
										<td class="Passes"></td>
										<td class="FoulsWon"></td>
										<td class="Clearances"></td>
										<td class="Interceptions"></td>
										<td class="ShotsBlocked"></td>
										<td class="TacklesWon"></td>
										<td class="ChancesCreated"></td>
										<td class="ShotsOnTarget"></td>
										<td class="Assists"></td>
										<td class="Goals"></td>
										<td class="OwnGoals"></td>
										<td class="MissedPen"></td>
										<td class="RedCard"></td>
										<td class="YellowCard"></td>
									</tr>
							</tbody>
							</table>
						</div>
					</div>
				</div>
			</main>
		</div>
		<p style="text-align:center; margin-top:10px;">**stats may not be 100% accurate. but they're pretty damn close!**</p>
		<p style="text-align:center; margin-top:10px;">**GK Stats NOT INCLUDED**</p>
	</article>
	<div id="disqus_thread"></div>
</div>
{% endblock %}
