{% extends "_layout" %}
{% set seo = craft.seo.custom(entry.title, 'About StatChat', true) %}

{% block content %}
<div id="container" class="about">
   <article>
      <div class="content-main">
         <main id="content" role="main">
            {% set image = entry.articleimagelarge.last() %}
            {% if image %}
               <div class="img-hack">
                  <img class="article-head" src="{{ image.url }}" />
               </div>
            {% endif %}

            <div class="article-body">
               <h1 class="article-title">{{ entry.title }}</h1>
               <div class="article-content">
                  {{ entry.body }}
               </div>
            </div>
         </main>
      </div>
   </article>
</div>
{% endblock %}

