<div class="articles">
   {% for entry in craft.entries.section('news').limit(10).find() %}
      <div class="article-body">
         <h1 class="article-title">{{ entry.title }}</h1>
         <div class="img-wrapper">
            {% set image = entry.articleImage.first() %}
            {% if image %}
               <img class="article-img" src="{{ image.url }}" />
            {% endif %}
         </div>
         <p class="article-time">Posted on {{ entry.postDate.format('F d, Y') }}</p>
         <h4 class="result-subhead">{{entry.articleSubhead}}</h4>
         <p class="result-body"> {{ entry.articleSummary }}</p>
         <a class="continue" href="{{ entry.url }}">Continue reading</a>
      </div>
    {% endfor %}
</div>