<nav class="gameweek-menu">
   <ul>
      <li><a class="gw-selector" data-gw="0" href="#">Overall</a></li>
      <li><a class="gw-selector" data-gw="1" href="#">GW1</a></li>
      <li><a class="gw-selector" data-gw="2" href="#">GW2</a></li>
      <li><a class="gw-selector" data-gw="3" href="#">GW3</a></li>
      <li><a class="gw-selector" data-gw="4" href="#">GW4</a></li>
      <li><a class="gw-selector" data-gw="5" href="#">GW5</a></li>
      <li><a class="gw-selector" data-gw="6" href="#">GW6</a></li>
      <li><a class="gw-selector" data-gw="7" href="#">GW7</a></li>
   </ul>
</nav>